#include <stdio.h>

// Fungsi untuk membersihkan layar terminal 
void clearScreen() {
    printf("\033[2J\033[H");
}

// Gambar ASCII Mawar
void printMawar() {
    printf("      @@@      \n");
    printf("     @@@@@     \n");
    printf("    @@@@@@@    \n");
    printf("    @@@@@@@    \n");
    printf("     @@@@@     \n");
    printf("      |||      \n");
    printf("     // \\\\    \n");
    printf("   ||     ||   \n");
    printf("   ||     ||   \n");
}

// Gambar ASCII Melati
void printMelati() {
    printf("     ,--./,-.  \n");
    printf("    /       \\ \n");
    printf("   |          |\n");
    printf("    \\        / \n");
    printf("     `._,._.'  \n");
    printf("       |||     \n");
    printf("      | | |    \n");
    printf("     ~  ~  ~   \n");
}

// Gambar ASCII Anggrek
void printAnggrek() {
    printf("     _/\\_      \n");
    printf("    (    )     \n");
    printf("   ==\\//==     \n");
    printf("     |||       \n");
    printf("     |||       \n");
    printf("    // \\     \n");
    printf("   ||   ||     \n");
}

// Gambar ASCII Tulip
void printTulip() {
    printf("      .-.       \n");
    printf("    // **\\     \n");
    printf("   ||    ||     \n");
    printf("    \\___/     \n");
    printf("     |||       \n");
    printf("     |||       \n");
    printf("  //// \\\\     \n");
   
}

// Gambar ASCII Bunga Matahari
void printMatahari() {
    printf("     \\ | /     \n");
    printf("   '-.;;;.-'   \n");
    printf("  -==;;;;;==-  \n");
    printf("   .-';;;'-.   \n");
    printf("     / | \\     \n");
    printf("      |||      \n");
    printf("      |||      \n");
    printf("     // \\\\    \n");
}

int main() {
    // Deklarasi variabel
    int pilihan;
    int i;

    // Daftar Nama Bunga
    char *bunga[] = { "Mawar", "Melati", "Anggrek", "Tulip", "Bunga Matahari" };

    // Harga masing-masing bunga
    int harga[] = { 50000, 20000, 30000, 25000, 18000 };

    // Review masing-masing bunga
    char *review[] = {
        "Mawar bunga yang bewarna merah memiliki aroma khas, dan sering dijadikan simbol cinta atau penghargaan.",
        "Melati bunga yang bewarna putih, memiliki aroma yang harum dan menenangkan.",
        "Anggrek melambangkan keindahan dan kemewahan dan cocok menjadi tanaman hias di rumah.",
        "Tulip Bunga yang bewarna warni cocok untuk hiasan dan juga beraroma sedap.",
        "Bunga Matahari bewarna kuning melambangkan keceriaan."
    };

    // Menampilkan daftar bunga yang tersedia dari 1 sampai 5
    printf("Daftar Bunga yang tersedia:\n");
    for (i = 0; i < 5; i++) {                   //Looping for dimulai dari 0 dan akan diulang jika input <5, setiap perulangan ditambah 1
        printf("%d. %s\n", i + 1, bunga[i]);
    }

    // Input bunga yang dipilih
    printf("Masukkan nomor bunga yang ingin dipilih (1-5): ");
    scanf("%d", &pilihan);

    // Output dari Nama bunga, Harga bunga, Review bunga yang di pilih
    if (pilihan >= 1 && pilihan <= 5) {
        clearScreen();
        printf("Bunga yang dipilih: %s\n", bunga[pilihan - 1]);
        printf("Harga Bunga: Rp %d\n", harga[pilihan - 1]);
        printf("Review Bunga: %s\n\n", review[pilihan - 1]);

        // Menampilkan gambar bunga yang di pilih
       printf("Gambar Bunga %s\n", bunga[pilihan - 1]);
        switch (pilihan) {
            case 1: printMawar(); break;
            case 2: printMelati(); break;
            case 3: printAnggrek(); break;
            case 4: printTulip(); break;
            case 5: printMatahari(); break;
        }
    } else {
        printf("Pilihan tidak valid. Coba lagi.\n");
    }

}
